@import url('https://fonts.googleapis.com/css?family=Turret+Road&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: black;
}

div {
    height: 33.33vh;
}
#fahrenheit {
    border-top: 4px solid hotpink;
    border-bottom: 4px solid hotpink;
}
input[type=number] {
    width: 100%;
    height: 100;
    outline:none;
    font-family: 'Turret Road', cursive;
    background: black;
    color: hotpink;
    font-size: 10em;
    text-align:center;
    border: 0;
}
/*-webkit-input-placeholder: used to make the pseudo class works in other browsers
::-moz-placeholder=firefox
:-ms-input-placeholder=edge
*/
::-webkit-input-placeholder {
    color: slategrey;
}